// Font styles
$roboto-font: Roboto, sans-serif;

$font-size-normal: 16px;
$font-size-title: 20px;

$font-normal: 400;
$font-bold: 700;
$font-black: 900;


// Colors
$theme-color-primary: #12062E;
$theme-color-secondary: #C1FF72;
$border-color: #bdbdbd;
$text-color: #747474;
