@import "./variables";
@import "./react-circular-progressbar";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.check-circle-icon {
  color: $theme-color-secondary;
}

.upload-image-btn {
  position: relative;

  label {
    display: inline-block;
    font-size: $font-size-normal;
    font-weight: $font-bold;
    background-color: $theme-color-secondary;
    color: #000000;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #cfdce9;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    &:hover {
      box-shadow: rgb(33 150 243 / 0.4) 0px 10px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
  }
}

.disabled {
  > * {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
