<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discount Email</title>
</head>
<body>
    <p>Hi {{username}},</p>
    <p>Congratulations on inviting 5 friends and colleagues to experience Interactive Tutor. As a token of appreciation, we're providing you with a coupon code for a 50% discount:</p>
    <p><strong>{{coupon}}</strong></p>
    <p>To redeem your discount, please follow these steps:</p>
    <ol>
        <li>Go to your subscriptions page</li>
        <li>Click on "Manage Plan"</li>
        <li>Add the provided coupon code to the "Discount Code" box</li>
        <li>Click "Update" to apply the discount</li>
    </ol>
    <p>If you have any questions or need further assistance, feel free to contact our customer support team.</p>
    <p>Thanks,</p>
    <p>Alex</p>
</body>
</html>