@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --site-main-color1: #c1ff72;
  --site-main-color2: #153144;
  --site-main-color3: #fffffe;
  --site-main-color4: #27058d;
  --site-main-color5: #634bee;
  --site-main-color6: #4a5168;
  --site-main-color7: #00da8f;
  --site-main-color8: #f0f0ea;
  --site-main-color9: #0398e2;
  --site-main-color10: #ccccc1;
  --site-main-Login: #27058d;
  --site-main-Login-border-focus: #9273c9;
  --site-main-Login1: #634bee;
  --site-main-Login-Text: #424242;
  --site-main-form-error: #ff1122;
  --site-main-form-error1: #c40d19;
  --site-main-form-success: #21d338;
  --site-main-form-success1: #129106;
  --site-main-Table-Text: #424242;
  --site-main-Table-Text_Dark: #2e2b2b;
}
